*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: #011144;
}

.grid {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 130px;
    width: 130px;
    border-radius: 5px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #FAB942 url('../img/background.png') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-color: #011144;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #011144 !important;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 200%;
    margin-bottom: 30px;
}

.start {
    font-weight: bold;
    font-size: 80%;
}

.start:hover {
    color: #ff0000;
    cursor: pointer;
}

@keyframes start-animation {
    0%   {color: #000000;}
    50%  {color: #ff0000;}
    100% {color: #000000;}
}

.win {
    color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 200%;
    padding-top: 5%;
    display: none;
}

.win-text {
    font-weight: bold;
}

.replay {
    font-weight: bold;
    font-size: 80%;
}

.replay:hover {
    color: #ff0000;
    cursor: pointer;
}

.time, .moves {
    width: 30%;
    margin: 0px;
}
